<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Battle Tank 19</title>
    <link rel="stylesheet" href="/css/main_old.css"/>
</head>
<body>
<a href="/logout"/>">Logout</a>

<div id="main-div">
    <button id="bottone-connessione"> Connetti alla partita</button>
    <button id="bottone-diventa-Player2"> Cambia giocatore</button>
    <button id="bottone-cambia-partita"> Cambia partita</button>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script src="../libraries/p5.min.js"></script>
<script src="../libraries/p5.dom.min.js"></script>
<script src="../libraries/p5.sound.min.js"></script>

<script src="../js/tank.js"></script>
<script src="../js/proiettili.js"></script>
<script src="../js/muretto.js"></script>
<script src="../js/main.js"></script>


</body>
</html>